:root {
  --clr-yellow: rgb(252, 183, 43);
  --clr-dark-navy: rgb(73, 85, 103);
  --clr-dark-grey: rgb(51, 58, 68);
  --clr-dim-grey: rgb(147, 156, 170);
  --clr-light-grey: rgb(229, 236, 244);
  --clr-snow: rgb(242, 245, 249);
  --clr-light-yellow: rgb(255, 244, 223);

  --ff-heading: 'Space Mono', monospace;
  --ff-body: 'Lexend Deca', sans-serif;

  --fs-900: 3.5rem;
  --fs-800: 3rem;
  --fs-700: 2.5rem;
  --fs-600: 1.5rem;
  --fs-500: 0.9375rem;

  --line-900: 3.5rem;
  --line-800: 3rem;
  --line-600: 1.75rem;
  --line-500: 1.5625rem;
  --line-anchor: 0.9375rem;

  --gap-sm: 1.5rem;
  --gap-md: 2rem;
  --gap-lg: 2.5rem;
  --gap-xl: 3.5rem;

  --section-padding: 10rem;
  --section-padding-sm: 7.5rem;

  --padding: 2rem;
}

@media (max-width: 56em) {
  :root {
    --section-padding: 7.5rem;
  }
}

@media (max-width: 32em) {
  :root {
    --fs-900: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;

    --line-900: 2.5rem;
    --line-800: 2rem;
    --line-600: 1.25rem;
  }
}

.subpage-hero-section {
  height: 300px;
  display: grid;
  place-items: center;
  padding-top: 5rem;
}

.subpage-hero-section.about {
  background-image: url('./assets/images/about-hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subpage-hero-section.careers,
.subpage-hero-section.locations {
  background-image: url('./assets/images/careers-locations-hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subpage-hero-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 56em) {
  .subpage-hero-section.about {
    background-image: url('./assets/images/about-hero-tablet.jpg');
  }

  .subpage-hero-section.careers,
  .subpage-hero-section.locations {
    background-image: url('./assets/images/careers-locations-hero-tablet.jpg');
  }
}

@media (max-width: 42em) {
  .subpage-hero-section img {
    display: none;
  }

  .subpage-hero-section > .container {
    justify-content: center;
  }
}

@media (max-width: 32em) {
  .subpage-hero-section.about {
    background-image: url('./assets/images/about-hero-mobile.jpg');
  }

  .subpage-hero-section.careers,
  .subpage-hero-section.locations {
    background-image: url('./assets/images/careers-locations-hero-mobile.jpg');
  }
}

/* about page */
/* our values section */

.numbered-items-wrapper {
  padding-block: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.numbered-item {
  display: grid;
  justify-items: center;
  gap: var(--gap-sm);
}

.numbered-item-image {
  border-radius: 50%;
  overflow: hidden;
}

.numbered-item-label {
  margin-top: -60px;
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--clr-yellow);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  font-family: var(--ff-heading);
  color: var(--clr-dark-navy);
}

@media (max-width: 56em) {
  .numbered-items-wrapper {
    flex-direction: column;
  }

  .numbered-item p {
    max-width: 65ch;
  }
}

/* FAQ section */
.faq-section {
  padding-bottom: var(--section-padding);
}

.faq-wrapper {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 5rem;
  margin-top: 4rem;
}

.questions-wrapper {
  display: grid;
  gap: 1rem;
}

.question {
  background-color: var(--clr-snow);
}

.question:hover {
  background-color: var(--clr-light-yellow);
}

.question-header {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: var(--gap-md);
  text-align: left;
}

.question-header > svg {
  transition: all 0.3s linear;
}

.question-body {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  will-change: opacity, max-height;
}

.question-body p {
  max-width: 90%;
  color: var(--clr-dark-navy);
  padding: 0 var(--gap-md) var(--gap-md) var(--gap-md);
}

/* expanded state */
.question-header[aria-expanded='true'] > svg {
  transform: rotate(180deg);
}

.question-header[aria-expanded='true'] + .question-body {
  opacity: 1;
  max-height: 9em; /* must specified a value, cannot be %, cause % implies transit to height auto */
}

@media (max-width: 56em) {
  .faq-wrapper {
    grid-template-columns: auto;
    gap: 2rem;
    margin-top: 4rem;
  }

  .faq-wrapper h3 {
    text-align: center;
  }

  .question-header {
    padding: var(--gap-sm);
  }

  .question-header[aria-expanded='true'] + .question-body {
    opacity: 1;
    max-height: 15em;
  }
}

/* careers page */
/* jobs section */
.jobs-section {
  padding-bottom: var(--section-padding);
}
.jobs-wrapper {
  margin-top: var(--gap-md);
  display: grid;
  gap: var(--gap-sm);
}

.job-item {
  background-color: var(--clr-snow);
  padding: var(--gap-md) var(--gap-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-item span {
  display: block;
  color: var(--clr-dark-navy);
  margin-top: 0.5rem;
}

@media (max-width: 56em) {
  .jobs-section h2 {
    text-align: center;
  }
}

@media (max-width: 42em) {
  .job-item {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: var(--gap-sm);
  }
}

/* locations page */
/* map section */

.map-section {
  padding-block: var(--section-padding-sm);
}

.map-image-wrapper {
  margin-bottom: var(--section-padding-sm);
  position: relative;
}

.location-label span {
  font-family: var(--ff-heading);
  color: var(--clr-dark-navy);
}

.map-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-md);
}

.map-content h2 {
  max-width: 12ch;
}

.map-content p {
  max-width: 50ch;
}

.mobile-map-labels {
  display: none;
}

@media (max-width: 56em) {
  .map-section {
    padding-block: 5rem;
  }
  .map-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 32em) {
  .map-section {
    padding-block: 4rem;
  }

  .map-image-wrapper {
    margin-bottom: 3rem;
  }

  .mobile-map-labels {
    margin-top: var(--gap-md);
    display: grid;
    gap: 1rem;
  }

  .mobile-map-labels > div {
    background-color: var(--clr-light-yellow);
    padding: 1rem;
    text-align: center;
  }
}
